*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $font-color-base;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
