$max-width-mobile: 300px;
$font-family-primary: "Lato", sans-serif;
$font-family-accent: "Oswald", sans-serif;
$font-size-base: 14px;
$font-size-main-navigation: 20px;
$font-size-hero-title: 36px;
$font-size-hero-subtitle: 14px;
$font-size-button: 16px;
$font-size-catalog-promo-title: 24px;
$font-size-catalog-promo-link: 16px;
$font-size-title: 36px;
$font-size-result: 12px;
$font-size-result-accent: 24px;
$font-size-contacts-description: 16px;
$font-size-product-card-title: 16px;
$font-size-product-card-parameters: 12px;
$font-size-additional-catalog-title: 24px;
$font-size-additional-product-title: 16px;
$font-size-promo-text: 16px;
$font-size-subscription-title: 24px;
$font-size-subscription-text: 16px;
$font-color-base: #444444;
$font-color-accent: #000000;
$font-color-contacts-description: #111111;
$font-color-product-card-title: #222222;
$font-color-product-card-accent: #111111;
$font-color-additional-product-title: #222222;
$line-height-base: 18px;
$line-height-main-navigation: 20px;
$line-height-hero-title: 36px;
$line-height-hero-subtitle: 14px;
$line-height-button: 20px;
$line-height-catalog-promo-title: 37px;
$line-height-catalog-promo-link: 16px;
$line-height-title: 40px;
$line-height-result: 100%;
$line-height-result-accent: 24px;
$line-height-example-expenses: 20px;
$line-height-contacts: 20px;
$line-height-catalog-title: 36px;
$line-height-product-card-title: 20px;
$line-height-product-card-parameters: 16px;
$line-height-additional-catalog-title: 24px;
$line-height-additional-product-title: 16px;
$line-height-additional-product-parameters: 14px;
$line-height-promo-text: 20px;
$line-height-subscription: 24px;
$base-decorative-bg-color: #68b738;
$base-decorative-text-color: #ffffff;
$bg-color-primary-accent: #f2f2f2;
$bg-color-secondary-accent: #eaeaea;
