.additional-catalog__title {
  font-family: $font-family-accent;
  font-size: $font-size-additional-catalog-title;
  font-weight: 400;
  color: $font-color-accent;
  line-height: $line-height-additional-catalog-title;
}
