.additional-product__title {
  font-family: $font-family-accent;
  font-size: $font-size-additional-product-title;
  font-weight: 400;
  color: $font-color-additional-product-title;
  line-height: $line-height-additional-product-title;
  text-transform: uppercase;
}

.additional-product__parameters {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: 400;
  color: $font-color-base;
  line-height: $line-height-additional-product-parameters;
}
