.additional-product__title {
  font-family: $font-family-accent;
  font-size: $font-size-medium;
  font-weight: 400;
  color: $color-dark-grey-2;
  line-height: $line-height-small;
  text-transform: uppercase;
}

.additional-product__parameters {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: 400;
  color: $color-base;
  line-height: $line-height-extra-small;
}
