.advantages__title {
  font-family: $font-family-accent;
  font-size: $font-size-title;
  font-weight: 400;
  color: $color-black;
  line-height: $line-height-title;
  text-transform: uppercase;
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  min-height: 60px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--first::before {
    background-image: url("../../icons/stack.svg#advantages-first");
  }

  &--second::before {
    background-image: url("../../icons/stack.svg#advantages-second");
  }

  &--third::before {
    background-image: url("../../icons/stack.svg#advantages-third");
  }

  &--fourth::before {
    background-image: url("../../icons/stack.svg#advantages-fourth");
  }
}
