.button {
  display: block;
  padding: 10px;
  width: 100%;
  font-family: $font-family-accent;
  font-size: $font-size-medium;
  font-weight: 400;
  color: $color-white;
  line-height: $line-height-medium;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-accent;
  cursor: pointer;
  border: none;

  &--accent {
    color: $color-base;
    background-color: $color-grey-1;
  }

  &--big {
    font-size: $font-size-large;
    line-height: $line-height-button-big;
  }
}
