.catalog {
  margin-bottom: 25px;
  padding-top: 27px;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 100vw;
    height: 1px;
  }

  &::before {
    margin-top: -27px;
    background-color: $color-grey-6;
  }

  &::after {
    background-color: $color-grey-8;
  }

  @media (min-width: $max-width-tablet) {
    padding-top: 40px;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $max-width-desktop) {
    padding-top: 48px;
  }
}

.catalog__title {
  margin-bottom: 41px;
  font-size: $font-size-title;
  color: $color-black;
  line-height: $line-height-extra-large;

  @media (min-width: $max-width-tablet) {
    margin-bottom: 84px;
    font-size: $font-size-tablet-extra-large;
    line-height: $line-height-tablet-extra-large;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @media (min-width: $max-width-tablet) {
    gap: 60px;
    margin-bottom: 74px;
  }

  @media (min-width: $max-width-desktop) {
    gap: 60px 80px;
  }
}

.catalog__item {
  width: 100%;

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    margin-top: -20px;
    width: 100vw;
    height: 1px;
    background-color: $color-grey-8;
  }

  @media (min-width: $max-width-tablet) {
    width: calc(50% - 30px);

    &:not(:last-child) {
      background-image: linear-gradient($color-white 81px, $color-grey-1 81px);
    }

    &::before {
      display: none;
    }

    @media (min-width: $max-width-desktop) {
      width: calc(25% - 60px);
    }
  }
}
