.catalog-promo__item {
  background-color: $color-grey-1;
}

.catalog-promo__title,
.catalog-promo__link {
  font-family: $font-family-accent;
  font-weight: 400;
  color: $color-black;
  text-transform: uppercase;
}

.catalog-promo__title {
  font-size: $font-size-extra-large;
  line-height: $line-height-extra-large;
}

.catalog-promo__link {
  font-size: $font-size-medium;
  line-height: $line-height-small;
  text-decoration: none;
}
