.contacts {
  &--inner-page {
    background-color: $color-grey-1;
  }
}

.contacts__description {
  font-family: $font-family-accent;
  font-size: $font-size-medium;
  font-weight: 400;
  color: $color-dark-grey-1;
  line-height: $line-height-medium;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: 400;
  color: $color-base;
  line-height: $line-height-medium;
}
