.example {
  background-color: $color-grey-2;
}

.example__title,
.example__expenses {
  font-family: $font-family-accent;
  font-weight: 400;
  color: $color-black;
  text-transform: uppercase;
}

.example__title {
  font-size: $font-size-title;
  line-height: $line-height-title;
}

.example__expenses {
  font-size: $font-size-base;
  line-height: $line-height-medium;
}
