.hero {
  background-color: $color-accent;
  text-align: center;
}

.hero__title,
.hero__subtitle {
  font-family: $font-family-accent;
  font-weight: 400;
  color: $color-white;
}

.hero__title {
  font-size: $font-size-title;
  line-height: $line-height-extra-large;
}

.hero__subtitle {
  font-size: $font-size-base;
  line-height: $line-height-extra-small;
  text-transform: uppercase;
}
