.hero {
  position: relative;
  padding-top: 27px;
  padding-bottom: 22px;
  text-align: center;

  @media (min-width: $max-width-tablet) {
    display: grid;
    grid-template-areas:
      "title"
      "subtitle"
      "button"
      "image";
    margin-bottom: 3px;
    padding-top: 40px;
    padding-bottom: 0;
    text-align: left;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 302px;
    /* добавить "отзывчивый" фон */
    background:
      linear-gradient($color-bg-accent, $color-bg-accent),
      url("../../images/hero-bg-mobile@1x.jpg")
      top center no-repeat;
    z-index: -1;

    @media (min-width: $max-width-tablet) {
      display: none;
    }
  }
}

.hero__title,
.hero__subtitle {
  margin-top: 0;
  font-family: $font-family-accent;
  font-weight: 400;
  color: $color-white;

  @media (min-width: $max-width-tablet) {
    margin-left: 90px;
    color: $color-black;
  }
}

.hero__title {
  margin-bottom: 25px;
  font-size: $font-size-title;
  line-height: $line-height-extra-large;

  @media (min-width: $max-width-tablet) {
    grid-area: title;
    margin-bottom: 40px;
    max-width: 420px;
    font-size: $font-size-tablet-extra-large;
    line-height: $line-height-tablet-extra-large;
  }
}

.hero__subtitle {
  margin-bottom: 30px;
  font-size: $font-size-base;
  line-height: $line-height-extra-small;
  text-transform: uppercase;

  @media (min-width: $max-width-tablet) {
    grid-area: subtitle;
    margin-bottom: 50px;
    font-size: $font-size-large;
    line-height: $line-height-medium;
  }
}

.hero__button {
  @media (min-width: $max-width-tablet) {
    grid-area: button;
    justify-self: start;
    display: inline-block;
    margin-left: 90px;
    padding: 14px 28px;
    width: auto;
    font-size: $font-size-large;
    line-height: $line-height-button-big;
  }
}

.hero__image {
  display: block;

  @media (min-width: $max-width-tablet) {
    grid-area: image;
    margin-top: -84px;
  }
}
