.hero {
  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 302px;
    /* добавить "отзывчивый" фон */
    background:
      linear-gradient($color-bg-accent, $color-bg-accent),
      url("../../images/hero-bg-mobile@1x.jpg")
      top center no-repeat;
    z-index: -1;
  }
}

.hero__title,
.hero__subtitle {
  font-family: $font-family-accent;
  font-weight: 400;
  color: $color-white;
}

.hero__title {
  font-size: $font-size-title;
  line-height: $line-height-extra-large;
}

.hero__subtitle {
  font-size: $font-size-base;
  line-height: $line-height-extra-small;
  text-transform: uppercase;
}
