.main-navigation__link {
  font-family: $font-family-accent;
  font-size: $font-size-large;
  font-weight: 400;
  color: $color-black;
  line-height: $line-height-medium;
  text-decoration: none;
  text-transform: uppercase;
}
