.main-navigation {
  @media (min-width: $max-width-desktop) {
    max-width: 50%;
  }
}

.main-navigation__toggle {
  margin-top: 5px;
  width: 24px;
  height: 24px;
  mask-image: url("../../icons/stack.svg#toggle");
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: $color-black;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  &:active {
    opacity: $opacity-active;
  }

  @media (min-width: $max-width-tablet) {
    display: none;
  }
}

.main-navigation__toggle--open {
  margin-top: 3px;
  width: 18px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#toggle-open");
}

.main-navigation__list {
  position: absolute;
  left: 0;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  z-index: 5;

  @media (max-width: calc($max-width-tablet - 1px)) {
    background-color: $color-white;
  }

  @media (min-width: $max-width-tablet) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 33px;
    margin-top: 0;
    margin-right: 5px;
  }

  @media (min-width: $max-width-desktop) {
    margin-right: 0;
  }
}

.main-navigation__list--close {
  @media (max-width: calc($max-width-tablet - 1px)) {
    display: none;
  }
}

.main-navigation__item {
  display: flex;
  justify-content: center;

  border-top: 1px solid $color-grey-5;

  @media (min-width: $max-width-tablet) {
    border: none;
  }
}

.main-navigation__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  font-family: $font-family-accent;
  font-size: $font-size-large;
  font-weight: 400;
  color: $color-black;
  line-height: $line-height-medium;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $max-width-tablet) {
    padding-top: 0;
    padding-bottom: 0;
    font-size: $font-size-tablet-large;
    line-height: $line-height-large;
  }

  @media (min-width: $max-width-desktop) {
    font-size: $font-size-large;
  }

  &:hover,
  &:focus {
    opacity: $opacity-hover;
  }

  &:active {
    opacity: $opacity-active;
  }
}

.main-navigation--index .main-navigation__link {
  @media (min-width: $max-width-desktop) {
    color: $color-white;
  }
}

.main-navigation__link--current {
  position: relative;
}

.main-navigation__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: $color-accent;

  @media (max-width: calc($max-width-tablet - 1px)) {
    bottom: 8px;
  }
}

.main-navigation--index .main-navigation__link::after {
  background-color: $color-white;

  @media (max-width: calc($max-width-desktop - 1px)) {
    background-color: $color-accent;
  }
}

.main-navigation--no-js {
  @media (max-width: calc($max-width-tablet - 1px)) {
    margin-left: -20px;
    width: $max-width-mobile;
    flex-shrink: 0;

    .main-navigation__list {
      position: unset;
      margin-bottom: -13px;
    }

    .main-navigation__toggle {
      display: none;
    }
  }
}
