.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

.page__container {
  margin: 0 auto;
  width: $max-width-mobile;

  @media (min-width: $max-width-tablet) {
    width: $max-width-tablet;
  }

  @media (min-width: $max-width-desktop) {
    width: $max-width-desktop;
  }
}

.page__container-padding {
  padding: $container-padding-mobile;
}

.page__container-padding,
.page__container-padding-catalog {
  @media (min-width: $max-width-tablet) {
    padding: $container-padding-tablet;
  }

  @media (min-width: $max-width-desktop) {
    padding: $container-padding-desktop;
  }
}

.page__main {
  flex-grow: 1;
  min-width: $max-width-mobile;
}
