.promo {
  background-color: $color-accent;
  text-align: center;
}

.promo__text {
  font-family: $font-family-primary;
  font-size: $font-size-medium;
  font-weight: 400;
  color: $color-white;
  line-height: $line-height-medium;
}
