.result {
  font-family: $font-family-primary;
  font-size: $font-size-small;
  font-weight: 400;
  color: $color-base;
  line-height: $line-height-result;
}

.result__accent {
  font-family: $font-family-accent;
  font-size: $font-size-extra-large;
  font-weight: 400;
  color: $color-black;
  line-height: $line-height-large;
}
