.subscription__title,
.subscription__text {
  font-family: $font-family-accent;
  font-weight: 400;
  color: $color-black;
  line-height: $line-height-large;
}

.subscription__title {
  font-size: $font-size-extra-large;
}

.subscription__text {
  font-size: $font-size-medium;
}
