.subscription__title {
  font-family: $font-family-accent;
  font-size: $font-size-subscription-title;
  font-weight: 400;
  color: $font-color-accent;
  line-height: $line-height-subscription;
}

.subscription__text {
  font-family: $font-family-accent;
  font-size: $font-size-subscription-text;
  font-weight: 400;
  color: $font-color-accent;
  line-height: $line-height-subscription;
}
